#text
{
    text-align: center;
    text-transform: capitalize;
    text-decoration: solid overline underline dotted;
    text-shadow: 3px 1px 3px red;
    font-size: xx-large;
}




ul li{
    font-size: xx-large;
     color: red;
     display: inline; 
     padding: 10px;
    margin: 10px;
     
 }
 li:hover{
     text-decoration-color: black;
     background-color: red; 
     color:black;
     font-size: xx-large;
     border-radius: 10px;
 }
 
 
 #nav{
     height: 50px;
     background-color: black;
 }
 