td{
    height: 50px;
    width: 70px;
    text-align: center;
}
#purple
{
    background-color: blueviolet;
}

#green
{
    background-color: green;
}
#orange
{
    background-color: orange;
}

#pink
{
    background-color: pink;
}


#yellow
{
    background-color: yellow;
}

#grey
{
    background-color: bisque;
}