table{
    margin-top: 150px;
    /* padding: 20px; */
}
td{
    padding: 20px;
}
th{
    padding: 20px;
    font-size: larger;
}

#sun:hover{
    color: white;
    background-color: black;
}
#sunDes:hover{
    color: white;
    background-color: rgb(94, 7, 7);
}
#mon:hover{
    color: white;
    background-color: red;
}

#monDes:hover{
    color: white;
    background-color: rgb(79, 181, 239);
}
#tue:hover{
    color: white;
    background-color: blue;
}

#tueDes:hover{
    color: white;
    background-color: rgb(145, 188, 27);
}
#wed:hover{
    color: white;
    background-color: green;
}
#wedDes:hover{
    color: white;
    background-color: rgb(244, 121, 14);
}
#thu:hover{
    color: white;
    background-color: #004552;
}
#thuDes:hover{
    color: white;
    background-color: #1dbe5d;
}
#fri:hover{
    color: white;
    background-color: pink;
}
#friDes:hover{
    color: white;
    background-color: rgb(29, 247, 5);
}

#sat:hover{
    color: white;
    background-color: rebeccapurple;
}
#satDes:hover{
    color: white;
    background-color: rgb(86, 150, 8);
}